body{
    margin:0;
    text-align: center;
    
    font-family: 'Merriweather', serif;

}

.top-container{
    background-color: #E4F9F4;
    padding-top: 100px;  
}

.pro{
    text-decoration: underline;
}

h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'Sacramento', cursive;

}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}



.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
    
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    
} 

.middle-container{
    background-color: #E4F9F4;
    padding-top: 50px;
}

.althaf-img{
    width: 200px;
}

.java-img{
    width: 150px;
}
.javascript-img{
    width: 150px;
}
.linkedin-logo{
    width:30px;
}
.twitter-logo{
    width:30px;
}
.bottom-container{
    background-color: #E4F9F4;
    padding-top: 50px;
}
.skill-row{
    display: inline-block;
    margin-right: 5px;
    border: solid ;
    border-color:rgb(58, 57, 57);
    padding: 0 5px;
    
}
.table{
    margin:0 auto;
    width: 1000px;
    height: 300px;
}